<html>
<head>

<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>


<style>

html,body {
height:100%;
background: linear-gradient(180deg, rgba(242, 59, 1, 0.4) 0%, rgba(31, 87, 171, 0.332) 100%);
min-height: 100%;
}

</style>
</head>
  <body>
    <div class='p-10 w-full h-full'>
      <div class='bg-white rounded shadow-2xl h-full p-2'>
      
        <div class='bg-blue-500 hover:bg-blue-700 text-white py-2 rounded m-2 text-center' style='width:300px'>
          Run
        </div>
        
        
        
                <div class='bg-transparent py-2 m-2 border border-black hover:border-orange-500 rounded text-center' style='width:300px'>
          Upload
        </div>
        
      </div>
    </div>
       
  </body>
  
</html>
